body {
    background-color: #444444;
    
    margin: 0;
    padding-bottom: 50px;
}

#alumnicard{
    margin: 50px auto auto auto;
}

#upload{
    color: white;
    text-align: center;
}

#logout{
    margin: 0 auto;
}

#button{
    transition-duration: 0.4s;
    border: none;
    padding: 14px 40px;
    border-radius: 12px;
    font-size: 14pt;
}

#button:hover{
    background-color: #ffc72c;
}

#background{
    position: absolute;
    float: left;
}

#forground{
    position: relative;
    display: block;
    margin: auto;
}

td{
    width: 400px;
}

.clashbackground {
    position: relative;
    background-size: 800px 480px;
    height: 480px;
    width: 800px;
    background-repeat: no-repeat;
    background-image: url("../Images/TitanCardBackgrounds/ClashAlumniCardTemplate.jpg");
}

.cobbackground {
    position: relative;
    background-size: 800px 480px;
    height: 480px;
    width: 800px;
    background-repeat: no-repeat;
    background-image: url("../Images/TitanCardBackgrounds/COBAlumniCardTemplate.jpg");
}

.scapebackground {
    position: relative;
    background-size: 800px 480px;
    height: 480px;
    width: 800px;
    background-repeat: no-repeat;
    background-image: url("../Images/TitanCardBackgrounds/ScapeAlumniCardTemplate.jpg");
}

/* Container holding the image and the text */
.container {
    height: 400px;
    width: 600px;
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    color: white;
    position: absolute;
    text-align: left;
    font-size: 12pt; 
    bottom: 12px;
    left: 24px;
}

.photo-options{
    font-size: 14pt;
}